{% extends 'timd/base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

<div>
    <form method="POST">
	{% csrf_token %}
	     <table class="login-table">
		 {{ form }}
	     </table>
	     <input type="submit" value="Log in">
    </form>
</div>

{% endblock %}
