<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="{% static 'timd/login_style.css' %}" />
		<title>{% block title %}Default{% endblock %}</title>
	</head>
	<body class="container">
		<div>{% block content %}{% endblock %}</div>
		<!--div>Footer</div-->
	</body>
</html>
