{% extends "timd/profile.html" %}
{% load static %}

{% block insides_title %}
<ul class="dropdown-menu">
   <li>
	   <a href="#"><h1>{{ box.title }}</h1></a>
	   <ul class="dropdown-menu-inner">
		   <li><a href="{% url 'timd:rename-box' username box.title|slugify box.id %}">Rename</a></li>
		   <li><a href="{% url 'timd:delete-box' username box.title|slugify box.id %}">Delete</a></li>
	   </ul>
   </li>
</ul>
{% endblock %}

{% block insides_content %}
<ul class="menu-button">
	    <li>
			<div>
                <ul class="horizontal-button">
				    <li class="long-long"><h3>Tasks</h3></li>
					<li class="narrow-action-ref">
						<a href="{% url 'timd:create-task' username box.title|slugify box.id %}"><h3>+</h3></a>
					</li>			
                </ul>
           </div>
		</li>
	</ul>
<div>
                        
                        </div>
<div>
	<h1>{{ aaa }}</h1>
   
	<ul class="base-menu">
    {% for task in box.tasks.all %}
        <li class="task"><a href="{% url 'timd:task' username task.title|slugify task.id %}">{{ task.title }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
