{% extends "timd/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"? All nested objects will be deleted, too.</p>
    <input type="submit" value="Confirm">
</form>
{% endblock %}
