{% extends "timd/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>{{ form.confirm_question }}</p>
    <input type="submit" value="Confirm">
</form>
{% endblock %}
