{% extends "timd/base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Save">
</form>
{% endblock %}
