{% extends "timd/profile.html" %}
{% load static %}
{% block insides_title %}
<br>
{{ path }}
<br>
<div>
    {{ title }} {{ now }}
</div>
{% endblock %}

{% block insides_content %}
<div>
	<h1>{{ a }}</h1>
    <ul class="base-menu">
	{% for n in notifications %}
	    
	    <li class="notification">{{ n }}</li>
	    
	    
	{% endfor %}
    {% for task in tasks_list %}
        <li><a href="{% url 'timd:task' username task.title_slug task.id %}">{{ task.title }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
