<!DOCTYPE html>
{% load static %}
<html>
	
	<head>
		<meta charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="{% static 'timd/style.css' %}" />
		<title>Home</title>
	</head>
	
	<body>
		<div>
			<table class="fixed_header" >
				<thead>
					<tr>	
						<th class="menu-th">
						
							<ul class="dropdown-menu">
								<li>
									<a href="#"><h1>Hi, {{ user.first_name }}!</h1></a>
									<ul class="dropdown-menu-inner">
										<li><a href="{% url 'timd:profile' username %}">Profile</a></li>
										<li><a href="{% url 'timd:logout' %}">Log out</a></li>
									</ul>
								</li>
							</ul>
						
						</th>
						<th class="content-th">
							{% block insides_title %}
							
							{% endblock %}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="menu-td">
							<div>
							
								<ul class="base-menu">
									<li><a href="{% url 'timd:notifications' username %}">Notifications</a></li>
									<li><a href="{% url 'timd:shared' username %}">{{ shared_box }}</a></li>
									<li ><a href="{% url 'timd:today' username %}">Today</a></li>
									<li><a href="{% url 'timd:week' username %}">Week</a></li>
									<li><a href="{% url 'timd:completed' username %}">Completed</a></li>
								</ul>

								<ul class="menu-button">
									<li>
										<div>
											<ul class="horizontal-button">
												<li class="long"><h3>Boxes</h3></li>
												<li class="action-ref" ><a href="{% url 'timd:create-box' username %}"><h3>+</h3></a></li>			
											</ul>
										</div>
									</li>
								</ul>
	                    
								<ul class="base-menu">       
								{% for box in boxes %}
									<li class="box"><a href="{% url 'timd:box' username box.title|slugify box.id %}">{{ box.title }}</a></li>
								{% endfor %}
								</ul>
                        
							</div>
						</td>

						<td class="content-td">
							<div>
							{% block insides_content %}
							
							
							{% endblock %}
							</div>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	
</html>
