{% extends "timd/profile.html" %}

{% block insides_title %}

<ul class="dropdown-menu">
   <li>
	   <a href="#"><h1>{{ current.title }}</h1></a>
	   <ul class="dropdown-menu-inner">
		   
		   <li><a href="{% url 'timd:delete-task' username box_title box_id current.title|slugify current.id %}">Delete</a></li>
	   </ul>
   </li>
</ul>

{% endblock %}

{% block insides_content %}

<div>
    <ul class="horizontal-menu">
	{% if access_level <= EXECUTOR %}	
	    <li>
        {% if current.status == COMPLETED %}
	        <a href="{% url 'timd:resume' username box_title box_id task_title task_id current.title|slugify current.id  %}">Resume</a>
        {% else %}
            <a href="{% url 'timd:complete' username box_title box_id task_title task_id current.title|slugify current.id  %}">Complete</a>
        {% endif %}
        </li>
    {% endif %}
    {% if access_level <= CREATOR %}
	    <li>
	    {% if current.archived %}
	        <a href="{% url 'timd:restore' username box_title box_id task_title task_id current.title|slugify current.id  %}">Restore</a>
	    {% else %}
	        <a href="{% url 'timd:archive' username  box_title box_id task_title task_id current.title|slugify current.id  %}">Archive</a>
	    {% endif %}
	    </li>
	    <li><a href="{% url 'timd:delete-task' username box_title box_id task_title task_id current.title|slugify current.id  %}">Delete</a></li>
	{% endif %}
    </ul>
</div>
{% if access_level <= CREATOR %}
<a href="{% url 'timd:update-deadline' username box_title box_id task_title task_id current.title|slugify current.id  %}">Update deadline</a>
<a href="{% url 'timd:set-periodicity' username box_title box_id task_title task_id current.title|slugify current.id  %}">Set periodicity</a>
<a href="{% url 'timd:set-reminder' username box_title box_id task_title task_id current.title|slugify current.id %}">Set reminder</a>
<a href="{% url 'timd:unset-periodicity' username box_title box_id task_title task_id current.title|slugify current.id  %}">Unset periodicity</a>
{% endif %}

<a href="{% url 'timd:block' username box_title box_id task_title task_id current.title|slugify current.id  %}">Block</a>
<a href="{% url 'timd:attach-tag' username box_title box_id task_title task_id current.title|slugify current.id  %}">Attach tag</a>
{% if access_level <= ADMIN %}
<a href="{% url 'timd:give-permission' username box_title box_id task_title task_id current.title|slugify current.id  %}">Give permission</a>
{% endif %}

<div>
    {% include "timd/task_info.html" with task=current %}
</div>

{% endblock %}
