{% extends "timd/profile.html" %}

{% block insides_title %}
{% include "timd/task_header.html" with current=current %}
{% endblock %}

{% block insides_content %}
<div>
{% include "timd/task_info.html" with task=current %}
  
    {% if not current.has_parent and access_level <= CREATOR %}
    
    <ul class="menu-button">
	    <li>
			<div>
                <ul class="horizontal-button">
				    <li class="long-long"><h3>Subtasks</h3></li>
					<li class="narrow-action-ref">
						<a href="{% url 'timd:create-subtask' username current.title|slugify current.id  %}"><h3>+</h3></a>
					</li>			
                </ul>
           </div>
		</li>
	</ul>
    
    <ul class="base-menu" >
    {% for subtask in subtasks %}
        <li class="task"><a href="{% url 'timd:task' user.username subtask.title_slug subtask.id %}">{{ subtask.title }}</a></li>
    {% endfor %}
    </ul>
    
    {% endif %}
    
</div>
{% endblock %}
