<div>
	
	<div class="task-info">
		<ul class="menu-button">
	        <li>
				<div>
					
					<ul class="horizontal-button">
						<li class="short-descr"><h3>Deadline</h3></li>
						<li class="cont"><p>{{ task.deadline }}</p></li>
						<li class="narrow-action-ref" >
						    {% if access_level <= CREATOR %}
                                <a href="{% url 'timd:update-deadline' username current.title|slugify current.id  %}"><h3>v</h3></a>
                            {% endif %}
						</li>					
                    </ul>
                    
                </div>
		    </li>
		    <li>	
			    <div>
					
					<ul class="horizontal-button">
						<li class="short-descr"><h3>Status</h3></li>
						<li class="cont"><p>{{ task.status }}</p></li>
						<li class="narrow-action-ref">
							{% if access_level <= EXECUTOR %}	
	    
                                {% if current.status == COMPLETED %}
									<a href="{% url 'timd:resume' username current.title|slugify current.id %}"><h3>v</h3></a>
								{% else %}
									<a href="{% url 'timd:complete' username current.title|slugify current.id  %}"><h3>v</h3></a>
								{% endif %}
        
							{% endif %}
						</li>			
                   </ul>
                   
               </div>
		    </li>
		    <li>		
				<div>
					
					<ul class="horizontal-button">
						<li class="short-descr"><h3>Priority</h3></li>
						<li class="cont"><p>{{ task.priority }}</p></li>
						<li class="narrow-action-ref" >
							<a href="{% url 'timd:block' username current.title|slugify current.id  %}"><h3>v</h3></a>
						</li>							
                    </ul>
                    
                </div>
		    </li>
		    <li>		
				<div>
					
					<ul class="horizontal-button">
						<li class="short-descr"><h3>Periodicity</h3></li>
						<li class="cont"><p>{{ task.periodicity }}</p></li>
						<li class="narrow-action-ref" > 							
								<a href="{% url 'timd:set-periodicity' username current.title|slugify current.id  %}"><h3>v</h3></a>
						</li>
							
                    </ul>
                    
                </div>
			</li>
		</ul>
	</div>
	
	<div>
		<ul class="menu-button">	
			<li>			
				<div>
					
					<ul class="horizontal-button">
						<li class="long-long"><h3>Reminders</h3></li>
						<li class="narrow-action-ref">
							<a href="{% url 'timd:set-reminder' username current.title|slugify current.id  %}"><h3>+</h3></a>
						</li>						
                    </ul>
                    
                </div>
			</li>
		</ul>                     
	</div>
	
    <div>
		<ul class="menu-button">
		{% for reminder in reminders %}
			<li>	
				<div>
					<ul class="horizontal-button">							
						<li class="reminder"><p>{{ reminder.term }} {{ reminder.timedelta }}</p></li>
						<li class="narrow-action-ref">
					        {% if access_level <= CREATOR %}
								<a href="{% url 'timd:unset-reminder' username current.title|slugify current.id reminder.id %}"><h3>x</h3></a>
							{% endif %}							
						</li>						
                    </ul>
                </div>
			</li>
		{% endfor %}	
		</ul>
	</div>


    <div>
	    <ul class="menu-button">
			<li>	
				<div>
					
					<ul class="horizontal-button">
						<li class="long-long"><h3>Related Tasks</h3></li>
						<li class="narrow-action-ref">
							<a href="{% url 'timd:block' username current.title|slugify current.id %}"><h3>+</h3></a>
						</li>					
                    </ul>
                 
                </div>           
			</li>
		</ul>                       
	</div>
	
    <div>
		<ul class="tag-menu">
		{% for rel_task in relations %}   
			<li>
				<div>
					<ul class="horizontal-button">		
						<li class="access-level">{{ rel_task.relation_type }}</li>					
						<li class="related-task">					
						{% if rel_task.to_task == task %}
							<a href="{% url 'timd:task' username rel_task.from_task.title_slug rel_task.from_task.id %}">{{ rel_task.from_task.title }}</a>
						{% else %}
							<a href="{% url 'timd:task' username rel_task.to_task.title_slug rel_task.to_task.id %}">{{ rel_task.to_task.title }}</a>
						{% endif %}
						</li>
						<li class="detach-ref">
							<a href="{% url 'timd:detach-relation' username task.title_slug task.id rel_task.id %}">x</a>
						</li>					
                    </ul>
                </div>
			</li>
		{% endfor %}
		</ul>
	</div>


	
	{% if access_level <= ADMIN %}
	<div>
		<ul class="menu-button">
			<li>	
				<div>
					<ul class="horizontal-button">
						<li class="long-long"><h3>Permissions</h3></li>
						<li class="narrow-action-ref">
							<a href="{% url 'timd:give-permission' username task.title_slug task.id %}"><h3>+</h3></a>
						</li>						
                    </ul>
                </div>
			</li>
		</ul>                    
    </div>
    {% endif %}
    
    <div>
		<ul class="tag-menu">
		{% for permission in permissions %}
			<li class="permission">		
				<div>
					<ul class="horizontal-button">
						<li class="access-level">{{ permission.access_level }}</li>
						<li class="tag-text">{{ permission.user }}</li>
						<li class="detach-ref"> 
							<a href="{% url 'timd:withdraw-permission' username task.title|slugify task.id permission.user.user.username %}">x</a>
						</li>					
                    </ul>
                </div>
			</li>
		{% endfor %}
		</ul>
	</div>

	<div>
		<ul class="menu-button">
			<li>			
				<div>
					<ul class="horizontal-button">
						<li class="long-long"><h3>Tags</h3></li>
						<li class="narrow-action-ref">
							<a href="{% url 'timd:attach-tag' username task.title|slugify task.id %}"><h3>+</h3></a>
						</li>						
					</ul>
            </div>
			</li>
		</ul>                     
    </div>
    
	<div>
		<ul class="tag-menu">
		{% for tag in tags %}
			<li>
			
				<div>
					<ul class="horizontal-button">
						<li class="tag-text">{{ tag.tag_text }}</li>
						<li class="detach-ref">
							<a href="{% url 'timd:detach-tag' username task.title|slugify task.id tag.id %}">x</a>
						</li>						
                    </ul>
                </div>
			</li>
		{% endfor %}
		</ul>
	</div>
	
</div>
