<ul class="dropdown-menu">
   <li>
	   <a href="#"><h1>{{ current.title }}</h1></a>
	   <ul class="dropdown-menu-inner">

		    {% if access_level <= CREATOR %}
	    <li>
	    {% if current.archived %}
	        <a href="{% url 'timd:restore' username current.title|slugify current.id  %}">Restore</a>
	    {% else %}
	        <a href="{% url 'timd:archive' username current.title|slugify current.id  %}">Archive</a>
	    {% endif %}
	    </li>

	    <li><a href="{% url 'timd:delete-task' username current.title|slugify current.id %}">Delete</a></li>
	{% endif %}
	   </ul>
   </li>
</ul>
