html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: white url("images/clock.jpg") no-repeat right top;
  background-attachment: fixed;
  background-size: 50%;
  background-color: #1d1d1d;
  color: white;
  font-family: 'Arial Black', sans-serif;
}


table {
  text-align: left; 
  margin: 10px;
}

input {
  margin: 10px;
}

.transparent {
  background-color: rgba(0, 120, 201, 0.2);
  padding: 10px;
  color: #fff;
}

.red-body {
  background: black;
}




