

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
   background-color: #A2B2C3;
   height: 100%;
}

h1 {
  font-size: 25px;
}

body {
  background: white url("images/clock.jpg") no-repeat right top;
  background-attachment: fixed;
  background-size: 50%;
  background-color: #1d1d1d;
  color: #fff;
  font-family: 'Arial Black', sans-serif;
}




A:link, A:visited {
  text-decoration: none;
  color: #ffffff;
}


   

.viewed-notification {
  background-color: rgba(15, 12, 10, 0.5)
}



/* fixed header table */

.fixed_header{
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.fixed_header thead {
  height: 8vh;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #1d1d1d;
}

.fixed_header thead tr {
  height: 94%;
  display: block;
}

.fixed_header thead th {
   height: 100%;
   display: inline-block;
   padding: 0;
   margin: 0;
}

.fixed_header tbody{
  height: 92vh;
  width: 100%;
  padding-top: 8vh;
  display:block;
  overflow-y: scroll;
}


.fixed_header tbody tr {
   min-height: 91.5vh;
   height: auto;
   width: 100%;
   display:block;
   
}

.fixed_header tbody td{
   vertical-align: top;
   height: 100%;
   min-height: inherit;
   display: inline-block;
   padding: 0;
   margin: 0;
}

.menu-td {
  width: 20.15%;
  background-color: rgba(175, 238, 238, 0.1);
  
}

.content-td {
  width: 79.55%;
  background-color: rgba(175, 238, 238, 0.1);
  margin: 5px;
}

.menu-th {
  width: 20%;
}

.content-th {
  width: 79%;
}

/* base menu */

.base-menu {
  padding: 2px;
  margin: 0;
}

.base-menu > li {
  border-radius: 5px;
  display: block;
  height: 5vh;
  list-style: none;
  background-color: rgba(175, 238, 238, 0.9);
  margin: 2px;
}

.base-menu > li[class="box"] {
  background-color: rgba(175, 23, 238, 0.9);
}

.base-menu > li[class="notification"] {
  background-color: rgba(12, 230, 238, 0.9);
}


.base-menu > li[class="task"] {
  background-color: rgba(120, 100, 238, 0.9);
}


.base-menu > li[class="po"] {
  display: block;
  height: 15vh;
  list-style: none;
  background-color: rgba(200, 34, 15, 0.35);
  vertical-align: middle;
}

base-menu > li[class="viewed"] {
  display: inline-block;
  height: 4vh;
  list-style: none;
  background-color: rgba(15, 12, 10, 0.9); 
}

.base-menu > li > a {
  display: block;
  height: 5vh;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5vh;
}

.base-menu > li:hover {
  background-color: rgba(100, 200, 237, 0.9);
}

.base-menu > li:hover > a {
  color: #1d1d1d;
  font-weight: bold;
}

/* horizontal button */

.horizontal-button {
  width: 100%;
  height: 6vh;
  padding: 0;
  margin: 0;
}


.horizontal-button > li {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  height: inherit;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; 
}

.horizontal-button > li > a {
  display: block;
  height: inherit;
  color: #yellow;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}


.horizontal-button > li:hover > a {
  color: #1d1d1d;
  font-weight: bold;
}

.horizontal-button > li > h3 {
  margin: 14px;
}

.horizontal-button > li[class="long"] {
  width: 80%;
}

.horizontal-button > li[class="long-long"] {
  width: 95%;
}

.horizontal-button > li[class="action-ref"] {
  width: 17.8%;
  background: green;
}

.horizontal-button > li[class="narrow-action-ref"] {
  width: 4.5%;
  background: green;
}

.horizontal-button > li[class="action-ref"]:hover {
  background: red;
}

.horizontal-button > li[class="narrow-action-ref"]:hover {
  background: red;
}

.horizontal-button > li[class="tag-text"] {
  width: auto;
  margin: 0;
  padding-left: 10px;
  padding-top: 3px;
}

.horizontal-button > li[class="detach-ref"] {
  width: 3vh;
  padding-right: 3px;
}

.horizontal-button > li[class="detach-ref"] > a {
  padding: 2px;
}

.horizontal-button > li[class="access-level"] {
  width: auto;
  margin: 0;
  padding-left: 10px;
  padding-top: 4px;
}

.horizontal-button > li[class="related-task"] {
  width: auto;
  padding-left: 10px;
}

.horizontal-button > li[class="related-task"] > a {
  color: red;
  padding: 3px;
}

.horizontal-button > li[class="short-descr"] {
  width: 10%;
  background: black;
}

.horizontal-button > li[class="cont"] {
  width: 84.7%;
  background: black;
}


.horizontal-button > li[class="reminder"] {
  width: 95%;
  background: black;
}












/* horizontal menu */

.horizontal-menu {
  padding: 3px;
  width: 100%;
}

.horizontal-menu > li {
  border-radius: 5px;
  display: inline-block;
  height: 4vh;
  list-style: none;
  background-color: rgba(54, 92, 122, 0.5); 
}






.horizontal-menu > li > a {
  display: block;
  height: 4vh;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.horizontal-menu > li:hover {
  background-color: rgba(175, 214, 227, 0.5);
}

.horizontal-menu > li:hover > a {
  color: #1d1d1d;
  font-weight: bold;
}

/* dropdown menu */

.dropdown-menu {
  top: 0;
  position: relative;
  background-color: red;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu > li {
  top: 0;
  position: relative;
  width: 100%;
  display: block;
  height: 7.51vh;
  background-color: #365c7a;
}

.dropdown-menu > li > a {
  height: 7.51vh;
  display: block;
  width: 100%;
  color: #ffffff;
  position: absolute;
}

.dropdown-menu > li:hover > a {
  color: white;
  text-decoration: none; 
}

.dropdown-menu-inner {
  position: relative;
  width: 99%;
  display: none;
}

.dropdown-menu-inner > li {
  height: 4vh;
  display: block;
  width: 100%;
}

.dropdown-menu-inner > li > a {
  height: 4vh;
  display: block;
  width: 100%;
  color: #ffffff;
}

.dropdown-menu-inner > li:hover {
  background-color: #365c7a;
}

.dropdown-menu-inner > li:hover > a {
  color: #1d1d1d;
  font-weight: bold;
}

.dropdown-menu > li:hover > .dropdown-menu-inner {
  display: block;
  width: 100%;
  background-color: #afd6e3;
  position: relative;
  top: 7.5vh;
  list-style-type: none;
  padding: 0;
}

/* tag menu */
.tag-menu {
  width: 99%;
  padding: 0;
  margin: 0;
}

.tag-menu > li {
  height: 3vh;
  width: auto;
  border-radius: 4vh;
  display: inline-block;
  list-style: none;
  background-color: rgba(230, 92, 122, 0.5); 
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.tag-menu > li[class="permission"] {
  background-color: rgba(14, 92, 240, 0.5); 
}


.centered {
  margin: 0 auto;
  text-align: center;
}

/* menu button */
.menu-button {
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu-button > li {
  height: 6vh;
  width: 100%;
  display: block;
  list-style: none;
  background-color: rgba(1, 92, 122, 0.5); 
  padding: 0;
  margin: 4px 0px;
}





.task-info {
  height: auto;
  width: 100%;
}

.list-menu {
  width: 50%;
  padding: 2px;
  margin: 2px;
  background: green;
}

.list-menu > li {
  height: 3vh;
  color: black;
  width: auto;
  border-radius: 4vh;
  display: block;
  list-style: none;
  background-color: lightblue; 
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;

  
}


.red {
  background: red;
}
